{{ include('partials/header.twig') }}

<section class="page-title">
    <div class="wrapper">
        <h1>Posts</h1>
        <p>Manage your posts</p>
    </div>
</section>

<section class="page-container">
    <div class="wrapper">

        <main class="main post-list">

            {% if cms.posts %}
                {% for post in cms.posts %}
                    <article class="post card {% if post.status < 1 %}draft{% endif %}">
                        <h3 class="title"><a href="/admin/edit?post_id={{ post.ID }}">{{ post.title }}</a></h3>
                        {% if post.cover_image %}
                        <div class="image">
                            <img src="/{{ post.cover_image }}">
                        </div>
                        {% endif %}
                        <div class="content">{{ post.snippet|raw }}</div>
                        <div class="actions">
                            <a class="edit-post" href="/admin/edit?post_id={{ post.ID }}">
                                <i class="ion ion-edit icon left"></i> Edit
                            </a>
                            <a class="delete-post" href="/admin/delete?post_id={{ post.ID }}">
                                <i class="ion ion-trash-a icon left"></i> Delete
                            </a>
                        </div>
                        <div class="draft-label"><i class="ion ion-alert-circled icon left"></i> This post in set to draft, so it will not show up on your website.</div>
                    </article>
                {% endfor %}
            {% else %}
                <div class="warning alert no-posts"><i class="ion ion-alert-circled icon left"></i> You haven't posted anything yet.</div>
            {% endif %}

            <a class="post card add-new-post" href="/admin/new">
                <div class="content">
                    <i class="ion ion-plus"></i>
                    <h2>New Post</h2>
                </div>
            </a>

        </main>

        <div class="sidebar">

            <div class="widget">
                <a class="large accent block button" href="/admin/new"><i class="ion ion-plus icon left"></i> New Post</a>
            </div>

            {% if user.id == cms.config.admin_user_id %}
            <div class="widget">
                <a class="large green block button" href="/admin/register"><i class="ion ion-person-add icon left"></i> New User</a>
            </div>
            {% endif %}

        </div>

    </div>
</section>

{{ include('partials/footer.twig') }}
